<IfModule mod_rewrite.c>
    RewriteEngine On
    #remove slash
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [R=301,L]

    # Backend redirect
    RewriteCond %{REQUEST_URI} ^/admin
    RewriteRule ^admin(.*)$ backend/web/$1 [L]

    # Statics redirect
    RewriteCond %{REQUEST_URI} ^/storage
    RewriteRule ^storage(.*)$ storage/web/$1 [L]


    # Frontend redirect
    RewriteCond %{REQUEST_URI} ^(.*)$
    RewriteRule ^(.*)$ frontend/web/$1
</IfModule>