html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}
.grid-view .table-participant  td{
    white-space: normal;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

/* user options */
.product-list{
    margin-bottom: 30px;
}
.product-item
{
    box-shadow: 0 1px 1px #ccc;
    padding: 10px 5px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: relative;
}
.product-item .thumb{
    display: inline-block;
}
.product-item .product-name{
    margin-bottom: 5px;
}
.product-item .product-name > span{
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.product-item .product-price{
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}
.product-item .btn-choice{
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 40px;
    width: 40%;
    line-height: 38px;
    font-size: 15px;
    text-align: center;
    text-align-last: center;
    padding: 0 65px;
    border: 1px solid #ced900;
    border-radius: 40px;
    margin-top: 15px;
    text-decoration-line: none;
}
.product-item .btn-choice.active{
    background-color: #ced900;
    color: #fff;
    position: absolute;
    z-index: 100;
}
.product-item .btn-choice::before{
    content: "";
    height: 24px;
    width: 24px;
    display: block;
    border: 1px solid #ced900;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -12px;
    transition: all 0s;
    background-color: #fff;
}
.product-item .btn-choice.active::before{
    cursor: pointer;
    border-color: #8c9300;
    background-image: url('../images/bg-sprites.png');
    background-position: -51px -53px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.race-item{
    box-shadow: 0 1px 1px #ccc;
    padding: 10px 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.race-item .tit
{
    margin: 15px 0;
}
.race-item .info-race h4{
    margin: 0 0 5px 0;
    font-size: 15px;
}
.race-item .info-text{
    border-bottom: 1px solid lightskyblue;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.race-item .info-race > .info-text:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}
.race-item .thumbnail{
    float: left;
    margin-right: 5px;
}
.race-item .info-text span{
    font-size: 14px;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
